<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.newhome.mapper.CrackMapper">
    <insert id="addCrack" parameterType="org.newhome.entity.Crack">
        insert into crack
        values(0, #{crackLength}, #{crackMaxwidth}, #{crackAvgwidth}, #{crackXmin}, #{crackXmax}, #{crackYmin}, #{crackYmax}, #{pictureId})
    </insert>

    <delete id="deleteCrack">
        delete from crack
        where crack_id = #{crackId}
    </delete>

    <select id="getCrack" resultType="org.newhome.entity.Crack">
        select * from crack
        where picture_id = #{pictureId}
    </select>

    <delete id="deleteCrackByPictureId">
        delete from crack
        where picture_id = #{pictureId}
    </delete>
</mapper>
